/* SELETORES */

/* seletor geral */
*{
    align-items: center;
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
    /* content-box - sempre soma os valores de tudo adicionado, exemplo tamanho de 100px + border de 10pc total 110px
        border box - define-se o tamanho total de algo, e o que inserido se adapta dentro deste tamanho toral    
    */
}

/* seletor por tag */
h1{
    color:red;
    font-family: 'Gemunu Libre', sans-serif;
    /* Qual fonte eu quero colocar */
    
    font-weight: lighter;
    /* weight largura */

    font-size: medium; 
    /* Tamanho da fonte */

    font-style: italic;
    /* efeitos (italico, negrito, etc) */

    line-height: 10px;
    /* altura das linha */

    letter-spacing: 5px;
    /* distancia das letras entre si */

    word-spacing: normal;
    /* espaçamento entre palavras */

    text-align: center;
    /* alinhamento do texto */

    text-transform: lowercase;
    /* efeito no texto, exemplo todas as letras maiusculas, toda letra no inicio da palavra maiuscula */

    text-decoration: double;
    /* responsavel por dar um efeito no texto como m todo, exemplo, linha superior ou inferior */

    text-shadow: 10px 5px 10px purple;
    /* sombra: sombra na horizontal, sombra na vertical, quão esfumaçada ou sólida, cor da sombra */

}

/* seletor por id */
#h2{
    color:aqua
}

/* seletor por classe */
.txt{
    color: blue;
}

/* aplicando o mesmo estilo duas coisas */
#h1, #h2, button{
    color: blueviolet;
}


/* CORES
RGB (rgb(0, 0, 0))
Hexadecimal (#FFF )

https://color.adobe.com/pt/create/color-wheel
https://coolors.co/

extensão do google chrome - ColorZilla
*/


/* 
    UNIDADES DE MEDIDAS
    
    -> ABSOLUTAS
        px (pixels)
        in (inches/polegadas)
        cm / mm (centimetro/milimetro)

    
    -> RELATIVAS
        % - calcula o tamanho relativo ao elemento pai
        vw - (ViewWidth) 1vw é 1% da largura da janela do navegador
        vh - (ViewHeight) 1vh é 1% da altura da janela do navegador
        em - é uma unidade relativa ao elemento pai
        rem - é uma unidade relativa ao elemento raiz

*/

/* 
    TEXTOS

    https://fonts.google.com/about - Escolher fontes neste site
    Pegar o link gerado após escolher as fontes e colocar no Head do html
    Colocar também a rule dele no CSS

*/

/* 
    DISPLAY

        -> Block
        -> Inline
        -> Inline-Block
        
        -> Grid
        -> Flex


        *Block
            Vem como padrão: div, section, p, h1, h2, ul, li, aricle...
                - Ocupa 100% da largura do elemento pai
                - Sempre ocupa toda sua linha
                - Altura definida de acordo com o conteúdo
                - Podemos definir height e width
                - Podemos definir valores de margin


        Inline
            Vem como padrão a, span, b, i...
                - Elementos em linha
                - Não permite alterar Heigth e Width
                - Não podemos definir valores de margin top e botton
                - Ganha o comportamento de uma palavra

        Inline-Block
                -Elementos em linha, com caracteristicas do block (definição de altura/largura, margin/padding entre outros)
*/



/* 
    Softwares para desenvolver site (front)
    - Figma
    - Adobe XD
*/
*{
    display: inline-block;
}